---
// Import Stylesheet
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
// data source
// replace temporary JSON placeholder API
const source = 'https://pokeapi.co/api/v2/pokemon/?limit=1025';
// fetch the data
const res = await fetch(source); 
// store retreived data
const pokeData = await res.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Normalize CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

		<title>Retreive and and display external API data with Astro</title>
	</head>
	<body>
		
		<header class="masthead">
			<img src="/public/Pokeball" alt="">
			<h1 class="site-title">Pokedex</h1>
			<input type="text" class = "search" placeholder="Search Pokemon..." />
		</header>

		<main id="content" class="main-area">
			<p>Sort By: </p>
			<input 
			type="radio" 
			name="type" 
			id="number" 
			value="number"
			checked
			>
			<label for="name">Number</label>
			<input 
			type="radio" 
			name="type" 
			id="number" 
			value="number"
			checked
			>
			<label for="number">Name</label>
			<ul class="cards">
				<!-- Your API Data -->
				{
					 pokeData.results.map((pokemon) => (
						<li class="card">
							<img src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${pokemon.url.split('/')[6]}.png`} alt={pokemon.sprites} />
							<h2 class="card-title">{pokemon.name}</h2>
							
							</li>
						))}
			</ul>
		  </main>
		  


	</body>
</html>
